<html> 
 <head> 
   <title>Video Streaming </title> 
   <style>
   html,body{
    margin:0;
    height:100%;
}
img{
  display:block;
  width:100%; height:100%;
  object-fit: cover;
}

   </style>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    last_mode = "video"
setInterval(function(){
    $('#mode').load('/project_mode_label');
    $('#emotion_label').load('/emotion_label');   
   get_mode = document.getElementById('mode').innerHTML;
   get_emotion = document.getElementById('emotion_label').innerHTML;
   
   
   
   
   
   if (get_mode != last_mode){
       last_mode = get_mode
       var img = document.getElementById("scenario");
       if (last_mode == "Image"){
           console.log("True")
           img.src = "http://192.168.0.6:5000/assets/images/default.jpg";
       } else if (last_mode == "Mirror"){
           img.src ="/video_feed";
       
       } else{
           console.log("False")    
       }
       console.log(last_mode)
   }
   var img = document.getElementById("scenario");
    if (get_mode == "Image"){
    
    
   if (get_emotion == "neutral"){
       img.src = "http://192.168.0.6:5000/assets/images/neutral.jpg";
       }
   else if (get_emotion == "happy"){
       img.src = "http://192.168.0.6:5000/assets/images/happy.jpg";
       }
   else if (get_emotion == "sad"){
       img.src = "http://192.168.0.6:5000/assets/images/sad.jpg";
       }
   else if (get_emotion == "surprise"){
       img.src = "http://192.168.0.6:5000/assets/images/surprise.jpg";
       }
   else if (get_emotion == "anger"){
       img.src = "http://192.168.0.6:5000/assets/images/anger.jpg";
       }
   else {
       img.src = "http://192.168.0.6:5000/assets/images/default.jpg";
       } }else if(get_mode == "Mirror"){
           img.src ="/video_feed";
           }
    
    }, 500) /* time in milliseconds (ie 2 seconds)*/
</script>
 </head> 
 <body>
 
 
 <center><h1><span class="align-middle" id=mode>?</span>
 <span class="align-middle" id=emotion_label></span></h1>
 </center>
 
 
 

<img id="scenario" src="http://192.168.0.6:5000/assets/images/default.jpg" class="img-responsive" alt="">

 </body> 
</html> 