<html> 
 <head> 
   <title>Video Streaming </title> 
   <style>
   html,body{
    margin:0;
    height:100%;
}
img{
position: fixed;
  display:block;
  width:100%; height:100%;
  object-fit: cover;
}
.ml3 {
position: fixed;
  font-weight: 900;
  font-size: 3.5em;
display:block;
  width:100%; height:100%;
  object-fit: cover;
top: -20px;
z-index:9999;
color: #F0FFFF;

}

   </style>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
	var dataArray = [];
        function read_json() {
            $.getJSON("./assets/inspirational-quote.json", function(data) {
                $.each(data["data"], function(idx,data) {
			dataArray.push(data);
//                    console.log(data);
                });
                  console.log(dataArray[0]);
            });

        }
    </script>

<script>
    last_mode = "video"
setInterval(function(){
    $('#mode').load('/project_mode_label');
    $('#emotion_label').load('/emotion_label');   
   get_mode = document.getElementById('mode').innerHTML;
   get_emotion = document.getElementById('emotion_label').innerHTML;
   
   
   
   
   
   if (get_mode != last_mode){
       last_mode = get_mode
       var img = document.getElementById("scenario");
       if (last_mode == "Image"){
           console.log("True")
           img.src = "/assets/images/default.jpg";
       } else if (last_mode == "Camera"){
           img.src ="/video_feed";
       
	} else if(last_mode=="RealMirror"){
		img.src ="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Black_photo.jpg/675px-Black_photo.jpg";
	
       } else{
           console.log("False")    
       }
       console.log(last_mode)
   }
   var img = document.getElementById("scenario");
   var courageword = document.getElementById("courageword");
    if (get_mode == "Image"){
    courageword.style.visibility = 'hidden';
    	img.style.visibility = 'visible';
	   if (get_emotion == "neutral"){
	       img.src = "/assets/images/neutral.jpg";
	       }
	   else if (get_emotion == "happy"){
	       img.src = "/assets/images/happy.jpg";
	       }
	   else if (get_emotion == "sad"){
	       img.src = "/assets/images/sad.jpg";
	       }
	   else if (get_emotion == "surprise"){
	       img.src = "/assets/images/surprise.jpg";
	       }
	   else if (get_emotion == "anger"){
	       img.src = "/assets/images/anger.jpg";
	       }
	   else {
	       img.src = "/assets/images/default.jpg";
       } 
    }else if (get_mode == "EncourageQuote"){

	if (get_mode != last_mode){

	courageword.style.visibility = 'visible';
	courageword.innerHTML = dataArray[Math.floor((Math.random() * 100) + 1)].inspirational_quote;
	console.log(courageword.innerHTML)
	//img.style.visibility = 'hidden';
	

	   if (get_emotion == "neutral"){
	       img.src = "/assets/images/neutral.jpg";
	       }
	   else if (get_emotion == "happy"){
	       img.src = "/assets/images/neutral.jpg";
	       }
	   else if (get_emotion == "sad"){
	       img.src = "/assets/images/neutral.jpg";
	       }
	   else if (get_emotion == "surprise"){
	       img.src = "/assets/images/neutral.jpg";;
	       }
	   else if (get_emotion == "anger"){
	       img.src = "/assets/images/neutral.jpg";
	       }
	   else {
	       img.src = "/assets/images/neutral.jpg";
		}
	}
    }else if (get_mode == "Game"){
	       img.src = "/assets/images/neutral.jpg";

    }else if(get_mode == "Camera"){
	img.style.visibility = 'visible';
courageword.style.visibility = 'hidden';
           img.src ="/video_feed";
           }
    
    }, 1000) /* time in milliseconds (ie 2 seconds)*/
</script>
 </head> 
<body onload="read_json();">
 
 <!--
 <center><h1><span class="align-middle" id=mode>?</span>
 <span class="align-middle" id=emotion_label></span></h1>
 </center>  -->
 
 <span class="align-middle" id=mode style="display:none">?</span>
 <span class="align-middle" id=emotion_label style="display:none"></span>
<h1 class="ml3" id="courageword">Give me some emotion</h1>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

<img id="scenario" src="/assets/images/default.jpg" class="img-responsive" alt="">

 </body> 
</html> 